[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "i3blocks-pomodoro"]
	path = i3blocks-pomodoro
	url = git@github.com:ethho/i3blocks-pomodoro.git
