[Unit]
Description=Keep Presence Daemon

[Service]
Environment="PATH=/home/eho/.local/bin/"
ExecStart=/home/eho/.local/bin/keep-presence -s 2 -p 20 -c
RestartSec=5
; User=root
; Group=root

[Install]
WantedBy=graphical.target
