"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  core:
    closeDeletedFileTabs: true
    projectHome: "/Users/TASethanho/"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox"
    ]
    useTreeSitterParsers: false
  editor:
    fontSize: 17
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "3a180251-8ff4-4a5d-9793-f0906a68bb9b"
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-kubectl":
    newVersion: true
  "linter-ui-default":
    panelHeight: -29
  "markdown-preview":
    useGitHubStyle: true
  "project-manager":
    includeGitRepositories: true
    savePathsRelativeToHome: true
  "python-debugger":
    pythonExecutable: "/Users/TASethanho/.pyenv/shims/python3"
  "tree-view": {}
  "vim-mode-plus":
    keymapCCToChangeInnerSmartWord: true
    keymapPToPutWithAutoIndent: true
    keymapYToYankToLastCharacterOfLine: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
